<div class="cage-header">
    <a
        class="cage-drawer-button"
        title="导航栏"
        onclick="document.querySelector('.cage-sidebar-modal').classList.add('show');document.querySelector('.cage-sidebar#sidebar').classList.add('show');"
    >
        <mdui-icon name='menu'></mdui-icon>
    </a>
    <div class="cage-title">
        <%= config.title %>
    </div>
</div>