$gutter = 25px;
$radius = 13px;
$mainCD2 = #d373b2ff;
$mainCD1 = #e69edbff;
$mainC = #f1bcdbff;
$mainC_c85 = rgba(241, 188, 219, 0.85);
$mainC_c30 = rgba(241, 188, 219, 0.3);
$mainC_c25 = rgba(241, 188, 219, 0.25);
$mainC_c20 = rgba(241, 188, 219, 0.2);
$mainC_c1 = rgba(241, 188, 219, 0.1);
$mainCL1 = #fbeff7ff;
$mainCL2 = #ffffffff;
